html,
body {
    background: #0C7CA2;
    /*height: 725px;*/
    overflow: hidden;
    /*width: 368px;*/
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

#main {
    background: #1DCCEB;
    border-bottom: 1px solid #73E2F7;
    /*height: 700px;*/
}

.speaker {
    padding-top: 50px;
    text-align: center;
}

.speaker img {
    height: 194px;
    width: 274px;
}

#main h1 {
    color: #fff;
    padding-right: 6px;
    padding-top: 5px;
}

#main h1 img {
    height: 31px;
    width: 195px;
}

.buttons {
    padding: 0 20px;
}

.buttons > div {
    text-align: center;
}

.button-sound {
    background-color: #0C7CA2;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    margin-top: 57px;
    position: relative;
    width: 24px;
    box-shadow: 0 4px 0 #044D7F;
    -webkit-app-region: no-drag;
}

.button-sound:hover {
    box-shadow: 0 2px 0 #044D7F;
    top: 2px;
}

.button-sound:hover > span {
    top: -42px;
}

.button-sound:active {
    box-shadow: 0 0 0 #044D7F;
    top: 5px;
}

.button-sound:active > span {
    top: -45px;
}

.button-icon {
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 50px;
    position: relative;
    top: -40px;
    width: 30px;
    -webkit-app-region: no-drag;
}

.settings,
.close {
    cursor: pointer;
    display: inline-block;
    height: 32px;
    position: absolute;
    text-indent: -10000px;
    top: 6px;
    width: 32px;
    z-index: 1;

    -webkit-app-region: no-drag;
}

.settings {
    background: transparent url('../img/settings.png') no-repeat 4px 4px;
    background-size: 24px 24px;
    right: 38px;
}

.close {
    background: transparent url('../img/close.png') no-repeat 4px 4px;
    background-size: 24px 24px;
    right: 6px;
}
/*ul#navmenu, ul.sub1, ul.sub2{
    list-style-type: none;
}
ul#navmenu li {
    position: relative;
    float: left;
    width:200px;
    text-align: center; 
    margin-right: 220px;
}
ul#navmenu li#test_or_train button{
    margin-left: 0px;
}
ul#navmenu li#upload1 button{
    margin-left: 0px;
}
ul#navmenu li#export1 button{
    margin-left: -25px;
}
button#test_or_train {
    margin-left: -25px; 
}
ul#navmenu .sub1 button{
    margin-top: 10px;
}
ul#navmenu ul.sub1{
    display: none;
    overflow: hidden;
    position: absolute;
    top: 35px;
    left: 0px;
}
ul#navmenu ul.sub2{
    display: none;
    position: absolute;
    top: 0px;
    left: 100px;
    font-size: 20px;
}
/*ul#navmenu li:hover  .sub1{
    display: block;
}
ul#navmenu .sub1 li:hover .sub2{
    display: block;
} *
.darrow{
    font-size: 11pt;
    position: absolute;
    top: 6px;
    right: 33px;
}
.rarrow{
    font-size: 11pt;
    position: absolute;
    top: 15px;
    right: 47px;
}
ul#navmenu > #sections_panel{
    position: absolute;
    height: 0px;
    width: 300px;
    background: #000;
    top: 35px;
    left: 0px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 10000000000;
    transition: height 0.3s linear 0s;
}
ul#navmenu > #sections_panel > #sections_panel1{
    position: absolute;
    height: 0px;
    width: 300px;
    background: #000;
    top: 0px;
    left: 100px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000000000;
    transition: height 0.3s linear 0s;
}
ul#navmenu > #sections_panel2{
    position: absolute;
    height: 0px;
    width: 500px;
    background: #000;
    top: 35px;
    left: 0px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 10000000000;
    transition: height 0.3s linear 0s;
}
ul#navmenu > #section_panel > div{
    background: #333;
    padding: :20px;
    height: 150px;
    margin: 10px;
    color: #FC0;
}*/
#demo {
        /*margin: 30px 0 50px 0;*/
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    }
    
    #demo .wrapper {
        display: inline-block;
        width: 150px;
        margin: auto;
        height: 20px;
        position: relative;
    }
    
    #demo .parent {
        display: block;
        cursor: pointer;
        font-weight: bold;
        z-index: 2;
        position: relative;
        -webkit-transition: border-radius .1s linear, background .1s linear, z-index 0s linear;
        -webkit-transition-delay: .8s;
        
    }
    
    #demo .parent:hover,
    #demo .content:hover ~ .parent {
        /*background: #fff;*/
        -webkit-transition-delay: 0s, 0s, 0s;
    }
    
    #demo .content:hover ~ .parent {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        z-index: 0;
    }
    
    #demo .content {
        position: absolute;
        top: 0;
        display: block;
        z-index: 1;
        height: 0;
        width: 250px;
        padding-top: 30px;
        -webkit-transition: height .5s ease;
        -webkit-transition-delay: .4s;
        /*border: 1px solid #777;*/
        border-radius: 5px;
        /*box-shadow: 0 1px 2px rgba(0,0,0,.4);*/
    }
    
    #demo .wrapper:active .content {
        height: 123px;
        z-index: 3;
        -webkit-transition-delay: 0s;
    }
    
    #demo .content:hover {
        height: 800px;
        z-index: 3;
        -webkit-transition-delay: 0s;
    }
    
    
    #demo .content ul {
       /* background: #fff;*/
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    #demo .content li:hover {
        /*background: #1DCCEB;*/
        color: #333;
    }
    
    #demo .content li {
        list-style: none;
        text-align: left;
        color: #888;
        font-size: 14px;
        line-height: 30px;
        height: 30px;
        /*padding-left: 10px;
        border-top: 1px solid #ccc;*/
    }
    
    #demo .content li:last-of-type {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    div .col-sm-4 #export_test {
        margin-left: 25px;
    }
    div .col-sm-4 #export_train {
        margin-left: 25px;
    }
    div .col-sm-4 #test {
        margin-left: 25px;
    }
    div .col-sm-4 #classify {
        margin-left: 25px;
    }
    textarea {

        width:90%;
        height: 600px;
        margin-top: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto; 
        margin-bottom: 15%;
    }
